{% extends 'base.html.twig' %}

{% block title 'Creating a new pin' %}

{% block body %}
    <h1>Create Pin</h1>
    {{ form_start(pinForm) }}
        {{ form_widget(pinForm) }}
        <input type='submit' value='Save'/>
    {{ form_end(pinForm) }}

    <a href='{{ path('app_home') }}'>Go back</a>
{% endblock %}
